.about-kitfit {
    padding: 50px;
    text-align: left;
    margin-top: 20px;
}

.about-image {
    width: 50%;
    margin-right: 20px;
}

.about-kitfit h4 {
    font-size: 1.4em;
    color: #F36D04;
    margin-bottom: 10px;
}

.about-kitfit h2 {
    font-size: 3em;
    font-weight: bold;
    color: #343a40;
    
}

.about-kitfit p {
    font-size: 1.1em;
    color: black;
    line-height: 1.8;
    margin: 20px 0;
}

.sobre{
    display: flex;
}

.sobre2{
    display: flex;
    flex-direction: column;   
}
@media screen and (max-width: 1200px) {
    .sobre{
        flex-direction: column;
    }
    .about-image{
        width: 100%;
        margin-bottom: 20px;
    }
}
