.loginform{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(#ff8800, #000000);
    padding-bottom: 30px; 
}
.quad2{
    margin-top: 100px ;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 20px;
    margin-bottom: 280px;
    height: 65vh;
    background-color: #ffffff;
}
.header2{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.text{
    color: #201e1e;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: #201e1e;
    border-radius: 9px;
}

.inputs2{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input2{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input2 img{
    margin: 0px 30px;
}

.input2 input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgotpass{
    padding-left: 225px;
    margin-top: 25px;
    color: #ff8800;
    font-size: 18px;
}
.forgotpass:hover{
   color: #863a00;
}
.submit-container{ 
    gap: 30px;
    margin: 20px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    
    margin-left: 360px;
    margin-top: 30px;
    height: 59px;
    color: #fff;
    background-color: #ff8800;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover{
    background-color: #863a00;
    transition: 0.2s;
}