.card-container {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 20px;
    text-align: center;
    background-color: #c55b11;
    color: white;
  }
  
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    margin: 10 05px;
    color: white;
  }
  
  .card-description {
    color: white;
    margin-bottom: 20px;
  }
  
  .comprar-btn {
    background-color: white;
    color: #c55b11;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .comprar-btn:hover {
    background-color: #c9c8c8;
  }
  
  @media screen and (max-width: 800px){
    .card-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
  }