.registerform{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(#ff8800, #000000);
    padding-bottom: 30px; 
}
.quad{
    margin-top: 100px ;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    height: 65vh;
    background-color: #ffffff;
}
.header{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.text{
    color: #201e1e;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #201e1e;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.alreadyhave{
    padding-left: 570px;
    margin-top: 15px;
    color: #797979;
    font-size: 18px;
}

.alreadyhave span{
    margin-left: 5px;
    color: #ff8800;
    cursor: pointer;
}
.alreadyhave span:hover{
    color: #863a00;
    cursor: pointer;
}


.submit-container{ 
    gap: 30px;
    margin: 20px auto;
    padding-left: 370px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin-left: 650px;
    margin-top: 30px;
    height: 59px;
    color: #fff;
    background-color: #ff8800;
    border-radius: 50px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover{
    background-color: #863a00;
    transition: 0.2s;
}